.cartel {
    width:250px;
    height:300px;
    position:relative;
    margin:0 0 20px 0;
    font-family: 'Lora', serif;
}

.cartel img {
    position:absolute;
    width:250px;
    height:286px;
    opacity: 0.5;
    border-radius:3px;
}

.cartel .reward {
    font-size:1.5em;
    position: absolute;
    width:100%;
    text-align:center;
    margin:10px 0 0 0;
}

.reward p {
    font-family: 'Raleway', sans-serif;
    width:75%;
    margin:0 auto 0 auto;
    background-color:rgba(240, 248, 255, 0.616);
    padding:5px 10px 5px 10px;
    border-radius: 6px;
}

.reward strong {
    color:orange;
}

.reward h2 {
    margin:40px auto 0 auto;
    color:#FFF;
}
.cartel .description {
    padding-top:290px;
    text-align:center;
}

.cartel:hover .reward p {
    display:none;
}

.cartel:hover .reward h2 {
    margin:200px auto 0 auto;
}

.cartel:hover img {
    opacity: 1;
}